<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home| Crayon_21Movies</title>
    <link rel="stylesheet" href="/stylesheets/movieHome.css">
</head>

<body>
    <div class="modal">
        <div class="modalContent">
            <div>
                <div class="modalContentSection loginSection">
                    <div class="formHeader">
                        <span>USER LOGIN</span>
                    </div>
                    <div class="notifier">
                        <div class="loader"></div>
                        <div class="error"></div>
                        <div class="success">login successful</div>
                    </div>
                    <form class="signin">
                        <div class="login">
                            <input id="loginEmail" type="email" for="loginEmail" placeholder="">
                            <label for="loginEmail">Email address</label>
                        </div>
                        <div class="login">
                            <input id="loginPassword" type="password" for="loginPassword" placeholder="">
                            <label for="loginPassword">Password</label>
                        </div>
                        <button type="button" onclick="login(this)">LOGIN</button>
                    </form>
                </div>
                <div class="modalContentSection signupSection">
                    <div class="formHeader">
                        <span>USER SIGNUP</span>
                    </div>
                    <div class="notifier">
                        <div class="loader"></div>
                        <div class="error"></div>
                        <div class="success">successfully registered</div>
                    </div>
                    <form class="register">
                        <span>Please fill in to become a member of this Family!</span>
                        <div class="signup">
                            <input id="signupName" type="text" for="signupName" placeholder="">
                            <label for="signupName">Your name</label>
                        </div>
                        <div class="signup">
                            <input id="signupEmail" type="email" for="signupEmail" placeholder="">
                            <label for="signupEmail">Email address</label>
                        </div>
                        <div class="signup">
                            <input id="signupPassword" type="password" for="signupPassword" placeholder="">
                            <label for="signupPassword">Password</label>
                        </div>
                        <div class="signup">
                            <input id="signupAvatar" type="text" for="signupAvatar" data-value="1">
                            <label for="signupAvatar">Avatar</label>
                            <div class="avatars">
                                <div class="avatarIcon selected" data-avatar="1"><img data-avatar="1"
                                        src="/images/1.jpg" alt="avatar1"></div>
                                <div class="avatarIcon" data-avatar="2"><img data-avatar="2" src="/images/2.jpg"
                                        alt="avatar2"></div>
                                <div class="avatarIcon" data-avatar="3"><img data-avatar="3" src="/images/3.jpg"
                                        alt="avatar3"></div>
                                <div class="avatarIcon" data-avatar="4"><img data-avatar="4" src="/images/4.jpg"
                                        alt="avatar4"></div>
                                <div class="avatarIcon" data-avatar="5"><img data-avatar="5" src="/images/5.jpg"
                                        alt="avatar5"></div>
                                <div class="avatarIcon" data-avatar="6"><img data-avatar="6" src="/images/6.jpg"
                                        alt="avatar6"></div>
                                <div class="avatarIcon" data-avatar="7"><img data-avatar="7" src="/images/7.jpg"
                                        alt="avatar7"></div>
                                <div class="avatarIcon" data-avatar="8"><img data-avatar="8" src="/images/8.jpg"
                                        alt="avatar8"></div>
                                <div class="avatarIcon" data-avatar="9"><img data-avatar="9" src="/images/9.jpg"
                                        alt="avatar9"></div>
                                <div class="avatarIcon" data-avatar="10"><img data-avatar="10" src="/images/10.jpg"
                                        alt="avatar10"></div>
                                <div class="avatarIcon" data-avatar="11"><img data-avatar="11" src="/images/11.jpg"
                                        alt="avatar11"></div>
                                <div class="avatarIcon" data-avatar="12"><img data-avatar="12" src="/images/12.jpg"
                                        alt="avatar12"></div>
                                <div class="avatarIcon" data-avatar="13"><img data-avatar="13" src="/images/13.jpg"
                                        alt="avatar13"></div>
                                <div class="avatarIcon" data-avatar="14"><img data-avatar="14" src="/images/14.jpg"
                                        alt="avatar14"></div>
                                <div class="avatarIcon" data-avatar="15"><img data-avatar="15" src="/images/15.jpg"
                                        alt="avatar15"></div>
                                <div class="avatarIcon" data-avatar="16"><img data-avatar="16" src="/images/16.jpg"
                                        alt="avatar16"></div>
                                <div class="avatarIcon" data-avatar="17"><img data-avatar="17" src="/images/17.jpg"
                                        alt="avatar17"></div>
                                <div class="avatarIcon" data-avatar="18"><img data-avatar="18" src="/images/18.jpg"
                                        alt="avatar18"></div>
                                <div class="avatarIcon" data-avatar="19"><img data-avatar="19" src="/images/19.jpg"
                                        alt="avatar19"></div>
                                <div class="avatarIcon" data-avatar="20"><img data-avatar="20" src="/images/20.jpg"
                                        alt="avatar20"></div>
                                <div class="avatarIcon" data-avatar="21"><img data-avatar="21" src="/images/21.jpg"
                                        alt="avatar21"></div>
                                <div class="avatarIcon" data-avatar="22"><img data-avatar="22" src="/images/22.jpg"
                                        alt="avatar22"></div>
                                <div class="avatarIcon" data-avatar="23"><img data-avatar="23" src="/images/23.jpg"
                                        alt="avatar23"></div>
                                <div class="avatarIcon" data-avatar="24"><img data-avatar="24" src="/images/24.jpg"
                                        alt="avatar24"></div>
                                <div class="avatarIcon" data-avatar="25"><img data-avatar="25" src="/images/25.jpg"
                                        alt="avatar25"></div>
                                <div class="avatarIcon" data-avatar="26"><img data-avatar="26" src="/images/26.jpg"
                                        alt="avatar26"></div>
                                <div class="avatarIcon" data-avatar="27"><img data-avatar="27" src="/images/27.jpg"
                                        alt="avatar27"></div>
                                <div class="avatarIcon" data-avatar="28"><img data-avatar="28" src="/images/28.jpg"
                                        alt="avatar28"></div>
                                <div class="avatarIcon" data-avatar="29"><img data-avatar="29" src="/images/29.jpg"
                                        alt="avatar29"></div>
                                <div class="avatarIcon" data-avatar="30"><img data-avatar="30" src="/images/30.jpg"
                                        alt="avatar30"></div>
                                <div class="avatarIcon" data-avatar="31"><img data-avatar="31" src="/images/31.jpg"
                                        alt="avatar31"></div>
                                <div class="avatarIcon" data-avatar="32"><img data-avatar="32" src="/images/32.jpg"
                                        alt="avatar32"></div>
                                <div class="avatarIcon" data-avatar="33"><img data-avatar="33" src="/images/33.jpg"
                                        alt="avatar33"></div>
                                <div class="avatarIcon" data-avatar="34"><img data-avatar="34" src="/images/34.jpg"
                                        alt="avatar34"></div>
                                <div class="avatarIcon" data-avatar="35"><img data-avatar="35" src="/images/35.jpg"
                                        alt="avatar35"></div>
                                <div class="avatarIcon" data-avatar="36"><img data-avatar="36" src="/images/36.jpg"
                                        alt="avatar36"></div>
                            </div>
                        </div>
                        <button type="button" onclick="signup(this)">SIGNUP</button>
                    </form>
                </div>
                <div class="modalContentSection logoutSection">
                    <div class="formHeader">
                        <span>LOGOUT</span>
                    </div>
                    <div class="notifier">
                        <div class="loader"></div>
                        <div class="error"></div>
                        <div class="success">logout successful</div>
                    </div>
                    <form class="logout">
                        <span>Do You Really Want to Logout?</span>
                        <button type="button" onclick="logout()">LOGOUT</button>
                    </form>
                </div>
                <div class="modalContentSection updateProfile">
                    <div class="formHeader">
                        <span>UPDATE PROFILE</span>
                    </div>
                    <div class="formHeader"></div>
                    <form class="update">
                        <span>Please Click Edit Icon to Change fields</span>
                        <div class="update">
                            <input id="updateName" type="text" for="updateName" placeholder="">
                            <label for="updateName">Your name</label>
                        </div>
                        <div class="update">
                            <input id="updateAvatar" type="text" for="updateAvatar">
                            <label for="updateAvatar">Avatar</label>
                            <div class="avatars">
                                <div class="avatarIcon" data-avatar="1"><img data-avatar="1" src="/images/1.jpg"
                                        alt="avatar1"></div>
                                <div class="avatarIcon" data-avatar="2"><img data-avatar="2" src="/images/2.jpg"
                                        alt="avatar2"></div>
                                <div class="avatarIcon" data-avatar="3"><img data-avatar="3" src="/images/3.jpg"
                                        alt="avatar3"></div>
                                <div class="avatarIcon" data-avatar="4"><img data-avatar="4" src="/images/4.jpg"
                                        alt="avatar4"></div>
                                <div class="avatarIcon" data-avatar="5"><img data-avatar="5" src="/images/5.jpg"
                                        alt="avatar5"></div>
                                <div class="avatarIcon" data-avatar="6"><img data-avatar="6" src="/images/6.jpg"
                                        alt="avatar6"></div>
                                <div class="avatarIcon" data-avatar="7"><img data-avatar="7" src="/images/7.jpg"
                                        alt="avatar7"></div>
                                <div class="avatarIcon" data-avatar="8"><img data-avatar="8" src="/images/8.jpg"
                                        alt="avatar8"></div>
                                <div class="avatarIcon" data-avatar="9"><img data-avatar="9" src="/images/9.jpg"
                                        alt="avatar9"></div>
                                <div class="avatarIcon" data-avatar="10"><img data-avatar="10" src="/images/10.jpg"
                                        alt="avatar10"></div>
                                <div class="avatarIcon" data-avatar="11"><img data-avatar="11" src="/images/11.jpg"
                                        alt="avatar11"></div>
                                <div class="avatarIcon" data-avatar="12"><img data-avatar="12" src="/images/12.jpg"
                                        alt="avatar12"></div>
                                <div class="avatarIcon" data-avatar="13"><img data-avatar="13" src="/images/13.jpg"
                                        alt="avatar13"></div>
                                <div class="avatarIcon" data-avatar="14"><img data-avatar="14" src="/images/14.jpg"
                                        alt="avatar14"></div>
                                <div class="avatarIcon" data-avatar="15"><img data-avatar="15" src="/images/15.jpg"
                                        alt="avatar15"></div>
                                <div class="avatarIcon" data-avatar="16"><img data-avatar="16" src="/images/16.jpg"
                                        alt="avatar16"></div>
                                <div class="avatarIcon" data-avatar="17"><img data-avatar="17" src="/images/17.jpg"
                                        alt="avatar17"></div>
                                <div class="avatarIcon" data-avatar="18"><img data-avatar="18" src="/images/18.jpg"
                                        alt="avatar18"></div>
                                <div class="avatarIcon" data-avatar="19"><img data-avatar="19" src="/images/19.jpg"
                                        alt="avatar19"></div>
                                <div class="avatarIcon" data-avatar="20"><img data-avatar="20" src="/images/20.jpg"
                                        alt="avatar20"></div>
                                <div class="avatarIcon" data-avatar="21"><img data-avatar="21" src="/images/21.jpg"
                                        alt="avatar21"></div>
                                <div class="avatarIcon" data-avatar="22"><img data-avatar="22" src="/images/22.jpg"
                                        alt="avatar22"></div>
                                <div class="avatarIcon" data-avatar="23"><img data-avatar="23" src="/images/23.jpg"
                                        alt="avatar23"></div>
                                <div class="avatarIcon" data-avatar="24"><img data-avatar="24" src="/images/24.jpg"
                                        alt="avatar24"></div>
                                <div class="avatarIcon" data-avatar="25"><img data-avatar="25" src="/images/25.jpg"
                                        alt="avatar25"></div>
                                <div class="avatarIcon" data-avatar="26"><img data-avatar="26" src="/images/26.jpg"
                                        alt="avatar26"></div>
                                <div class="avatarIcon" data-avatar="27"><img data-avatar="27" src="/images/27.jpg"
                                        alt="avatar27"></div>
                                <div class="avatarIcon" data-avatar="28"><img data-avatar="28" src="/images/28.jpg"
                                        alt="avatar28"></div>
                                <div class="avatarIcon" data-avatar="29"><img data-avatar="29" src="/images/29.jpg"
                                        alt="avatar29"></div>
                                <div class="avatarIcon" data-avatar="30"><img data-avatar="30" src="/images/30.jpg"
                                        alt="avatar30"></div>
                                <div class="avatarIcon" data-avatar="31"><img data-avatar="31" src="/images/31.jpg"
                                        alt="avatar31"></div>
                                <div class="avatarIcon" data-avatar="32"><img data-avatar="32" src="/images/32.jpg"
                                        alt="avatar32"></div>
                                <div class="avatarIcon" data-avatar="33"><img data-avatar="33" src="/images/33.jpg"
                                        alt="avatar33"></div>
                                <div class="avatarIcon" data-avatar="34"><img data-avatar="34" src="/images/34.jpg"
                                        alt="avatar34"></div>
                                <div class="avatarIcon" data-avatar="35"><img data-avatar="35" src="/images/35.jpg"
                                        alt="avatar35"></div>
                                <div class="avatarIcon" data-avatar="36"><img data-avatar="36" src="/images/36.jpg"
                                        alt="avatar36"></div>
                            </div>
                        </div>
                        <div class="update">
                            <input id="updatePassword" type="password" for="updatePassword" placeholder="">
                            <label for="updatePassword">Password</label>
                        </div>
                        <button type="button" onclick="changeProfile()">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav>
            <div class="logo">
                <div class="loader-wrapper">
                    <div class="packman"></div>
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
                <div>Crayon_21</div>
                <div id="ghost">
                    <div id="red">
                        <div id="pupil"></div>
                        <div id="pupil1"></div>
                        <div id="eye"></div>
                        <div id="eye1"></div>
                        <div id="top0"></div>
                        <div id="top1"></div>
                        <div id="top2"></div>
                        <div id="top3"></div>
                        <div id="top4"></div>
                        <div id="st0"></div>
                        <div id="st1"></div>
                        <div id="st2"></div>
                        <div id="st3"></div>
                        <div id="st4"></div>
                        <div id="st5"></div>
                        <div id="an1"></div>
                        <div id="an2"></div>
                        <div id="an3"></div>
                        <div id="an4"></div>
                        <div id="an5"></div>
                        <div id="an6"></div>
                        <div id="an7"></div>
                        <div id="an8"></div>
                        <div id="an9"></div>
                        <div id="an10"></div>
                        <div id="an11"></div>
                        <div id="an12"></div>
                        <div id="an13"></div>
                        <div id="an14"></div>
                        <div id="an15"></div>
                        <div id="an16"></div>
                        <div id="an17"></div>
                        <div id="an18"></div>
                    </div>
                    <div id="shadow"></div>
                </div>
            </div>
            <div class="navRight">
                <ul class="navMenu">
                    <li class="active">Explore</li>
                    <li><a href="/movieResults">Search</a></li>
                    <li>Hotels</li>
                    <li>Offers</li>
                </ul>
                <div class="accountsSection">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.6732 19.0531C21.0303 18.48 20.4675 17.823 19.9999 17.0998C19.4894 16.1015 19.1834 15.0113 19.0999 13.8931V10.5998C19.1043 8.84351 18.4672 7.14609 17.3084 5.82642C16.1495 4.50675 14.5486 3.65568 12.8065 3.43311V2.57311C12.8065 2.33706 12.7128 2.11069 12.5459 1.94378C12.379 1.77687 12.1526 1.68311 11.9165 1.68311C11.6805 1.68311 11.4541 1.77687 11.2872 1.94378C11.1203 2.11069 11.0265 2.33706 11.0265 2.57311V3.44644C9.30004 3.68506 7.71852 4.54128 6.57489 5.85651C5.43126 7.17174 4.80302 8.85687 4.80654 10.5998V13.8931C4.72304 15.0113 4.41705 16.1015 3.90654 17.0998C3.44712 17.8213 2.89333 18.4783 2.25987 19.0531C2.18876 19.1156 2.13176 19.1925 2.09268 19.2787C2.0536 19.3649 2.03332 19.4585 2.0332 19.5531V20.4598C2.0332 20.6366 2.10344 20.8062 2.22847 20.9312C2.35349 21.0562 2.52306 21.1264 2.69987 21.1264H21.2332C21.41 21.1264 21.5796 21.0562 21.7046 20.9312C21.8296 20.8062 21.8999 20.6366 21.8999 20.4598V19.5531C21.8997 19.4585 21.8795 19.3649 21.8404 19.2787C21.8013 19.1925 21.7443 19.1156 21.6732 19.0531ZM3.41987 19.7931C4.04014 19.1939 4.58627 18.5224 5.04654 17.7931C5.68961 16.5874 6.06482 15.2571 6.14654 13.8931V10.5998C6.1201 9.81846 6.25115 9.03982 6.5319 8.31022C6.81265 7.58061 7.23734 6.91496 7.7807 6.35291C8.32406 5.79085 8.97496 5.34388 9.69466 5.03862C10.4143 4.73336 11.1881 4.57604 11.9699 4.57604C12.7516 4.57604 13.5254 4.73336 14.2451 5.03862C14.9648 5.34388 15.6157 5.79085 16.159 6.35291C16.7024 6.91496 17.1271 7.58061 17.4078 8.31022C17.6886 9.03982 17.8196 9.81846 17.7932 10.5998V13.8931C17.8749 15.2571 18.2501 16.5874 18.8932 17.7931C19.3535 18.5224 19.8996 19.1939 20.5199 19.7931H3.41987Z"
                            fill="#424242" />
                        <path
                            d="M12 23.3135C12.42 23.3038 12.823 23.1459 13.1378 22.8677C13.4526 22.5896 13.6588 22.209 13.72 21.7935H10.2134C10.2764 22.2203 10.4923 22.6098 10.8209 22.8894C11.1496 23.169 11.5686 23.3197 12 23.3135Z"
                            fill="#424242" />
                        <circle cx="18.4565" cy="5.93701" r="3.5" fill="transparent" />
                    </svg>
                    <div class="profileImage" tabindex="0" onclick="showDropDown(this)" onblur="hideDropDown(this)">
                        <img src="images/1.jpg" />
                        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                            fill="#424242">
                            <path
                                d="M234.97-258.15q56.95-40.16 116.53-62.62T480-343.23q68.92 0 128.7 22.46 59.79 22.46 116.74 62.62 41.51-47.36 62.91-102.79 21.39-55.44 21.39-119.06 0-138.69-95.52-234.22-95.53-95.52-234.22-95.52t-234.22 95.52Q150.26-618.69 150.26-480q0 63.62 21.6 119.06 21.6 55.43 63.11 102.79Zm244.89-196.72q-54.22 0-91.3-37.22-37.07-37.22-37.07-91.44 0-54.21 37.22-91.29 37.21-37.08 91.43-37.08 54.22 0 91.3 37.22 37.07 37.22 37.07 91.44 0 54.21-37.22 91.29-37.21 37.08-91.43 37.08Zm.45 354.87q-79.05 0-148.33-29.77-69.27-29.77-120.85-81.41-51.59-51.64-81.36-120.7Q100-400.94 100-480.05q0-79.1 29.77-148.12 29.77-69.01 81.41-120.65t120.7-81.41Q400.94-860 480.05-860q79.1 0 148.12 29.77 69.01 29.77 120.65 81.41t81.41 120.68Q860-559.11 860-480.31q0 79.05-29.77 148.33-29.77 69.27-81.41 120.85-51.64 51.59-120.68 81.36Q559.11-100 480.31-100Zm-.31-50.26q55.23 0 108.14-17.62 52.91-17.63 97.86-54.48-44.95-33.54-97.04-52.08T480-292.98q-56.87 0-109.15 18.35-52.29 18.35-96.59 52.27 44.69 36.85 97.6 54.48 52.91 17.62 108.14 17.62Zm.04-354.87q33.86 0 56.04-22.21 22.18-22.22 22.18-56.08t-22.22-56.04q-22.21-22.18-56.08-22.18-33.86 0-56.04 22.21-22.18 22.22-22.18 56.08t22.22 56.04q22.21 22.18 56.08 22.18Zm-.04-78.25Zm0 361.76Z" />
                        </svg>
                        <ul class="select">
                            <div>
                                <li onclick="openModal(1)">Signup</li>
                                <li onclick="openModal(0)">Login</li>
                                <li onclick="openModal(2)">Logout</li>
                                <li onclick="openModal(3)">Update</li>
                                <li>More...</li>
                                <li class="indicator"></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="heroSection">
        <div class="sky">
            <div class="cloud c1"></div>
            <div class="cloud c2"></div>
            <div class="cloud c3"></div>
            <div class="cloud c4"></div>
            <div class="cloud c5"></div>
            <div class="cloud c6"></div>
        </div>
        <div class="searchContainer">
            <div class="title">
                <h2>your ultimate movie destination!</h2>
                <p>Stream, discover, and experience cinema like never before!</p>
            </div>
            <div class="searchForm">
                <div class="titleGroup">
                    <p>SEARCH MOVIE</p>
                </div>
                <div class="inputRow">
                    <div>
                        <input id="searchInput" type="text" placeholder="">
                        <label for="searchInput">movie</label>
                        <ul class="select hide"></ul>
                    </div>
                    <button id="searchBtn">SEARCH</button>
                </div>
                <div class="caution searchCaution hide"><span>*search cannot be empty</span></div>
                <div class="titleGroup">
                    <p>FILTER MOVIES</p>
                </div>
                <div class="inputRow">
                    <div>
                        <input type="text" id="genres" placeholder="">
                        <label for="genres">genres</label>
                        <ul class="select hide">
                            <div>
                                <li>Action</li>
                                <li>Adventure</li>
                                <li>Animation</li>
                                <li>Biography</li>
                                <li>Comedy</li>
                                <li>Crime</li>
                                <li>Documentary</li>
                                <li>Drama</li>
                                <li>Family</li>
                                <li>Fantasy</li>
                                <li>Film-Noir</li>
                                <li>History</li>
                                <li>Horror</li>
                                <li>Music</li>
                                <li>Musical</li>
                                <li>Mystery</li>
                                <li>News</li>
                                <li>Romance</li>
                                <li>Sci-Fi</li>
                                <li>Short</li>
                                <li>Sport</li>
                                <li>Talk-Show</li>
                                <li>Thriller</li>
                                <li>War</li>
                                <li>Western</li>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <input type="text" id="rating" placeholder="">
                        <label for="rating">rating</label>
                        <ul class="select hide">
                            <div>
                                <li>All</li>
                                <li>Above 9</li>
                                <li>Above 8</li>
                                <li>Above 7</li>
                                <li>Above 6</li>
                                <li>Above 5</li>
                                <li>Above 4</li>
                                <li>Above 3</li>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <input type="text" id="language" placeholder="">
                        <label for="language">language</label>
                        <ul class="select hide">
                            <div>
                                <li>English</li>
                                <li>Spanish</li>
                                <li>French</li>
                                <li>Mandarin</li>
                                <li>Hindi</li>
                                <li>Arabic</li>
                                <li>German</li>
                                <li>Japanese</li>
                                <li>Italian</li>
                                <li>Portuguese</li>
                                <li>Korean</li>
                                <li>Russian</li>
                                <li>Turkish</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="inputRow">
                    <div>
                        <input type="text" id="countries" placeholder="">
                        <label for="countries">countries</label>
                        <ul class="select hide">
                            <div>
                                <li>USA</li>
                                <li>India</li>
                                <li>China</li>
                                <li>UK</li>
                                <li>France</li>
                                <li>Japan</li>
                                <li>South Korea</li>
                                <li>Italy</li>
                                <li>Mexico</li>
                                <li>Germany</li>
                                <li>Spain</li>
                                <li>Australia</li>
                                <li>Brazil</li>
                                <li>Russia</li>
                                <li>Turkey</li>
                            </div>
                        </ul>
                    </div>
                    <div>
                        <input type="number" id="duration" placeholder="">
                        <label for="duration">duration</label>
                    </div>
                    <div>
                        <input type="number" id="year" placeholder="">
                        <label for="year">year</label>
                    </div>
                    <button id="filterBtn">FILTER</button>
                </div>
                <div class="caution filterCaution hide"><span>*filters cannot be empty</span></div>
            </div>
        </div>
    </div>
    <div class="contentSection">

        <div class="recentSearches">
            <div class="title">WISHLIST</div>
            <div class="recents">
                <div class="arrowLeft">
                    <svg data-action="left" class="left" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.90613 13.6789L15.5434 1.7348C17.1596 0.319253 19.6905 1.46699 19.6905 3.61545L19.6905 27.5036C19.6905 29.6521 17.1596 30.7998 15.5434 29.3843L1.90613 17.4402C0.769011 16.4443 0.769011 14.6748 1.90613 13.6789Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="left" class="leftHovered" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.95951 17.956C0.59497 16.7608 0.594969 14.6375 1.95951 13.4424L15.5967 1.49831C17.5362 -0.200342 20.5733 1.17694 20.5733 3.75509L20.5733 27.6433C20.5733 30.2214 17.5362 31.5987 15.5967 29.9001L1.95951 17.956Z"
                            fill="#1262AF" />
                    </svg>
                </div>
                <div class="Container">
                    <div class="flightContainer">
                        <div class="toFrom">
                            <img src="/public/images/profileImage.jpg" alt="movieImage">
                            <div class="to">
                                <span>DUB</span>
                                <div class="date"><b>Added on:</b> 7 sep 2025</div>
                            </div>
                        </div>
                    </div>
                    <div class="flightContainer">
                        <div class="toFrom">
                            <div class="from">SIN</div>
                            <svg width="118" height="24" viewBox="0 0 118 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="5.04297" y1="11.8315" x2="108.595" y2="11.8316" stroke="#CCCCCC"
                                    stroke-dasharray="3 3" />
                                <g clip-path="url(#clip0_1810_14203)">
                                    <path
                                        d="M57.6233 21.75H56.2578C56.1206 21.75 55.9856 21.7185 55.8652 21.6585C55.7447 21.5984 55.6427 21.5118 55.5683 21.4064C55.494 21.301 55.4497 21.1803 55.4396 21.0552C55.4295 20.9302 55.4539 20.8048 55.5105 20.6906L58.8169 14.0227L53.8522 13.9219L52.0415 15.9267C51.6963 16.3233 51.4208 16.5 50.7181 16.5H49.7989C49.6534 16.5043 49.5089 16.4764 49.3776 16.4188C49.2464 16.3612 49.1322 16.2755 49.0449 16.1691C48.9228 16.0186 48.8028 15.7636 48.9198 15.3998L49.9364 12.0717C49.9441 12.0469 49.9533 12.022 49.9636 11.9977C49.9641 11.9953 49.9641 11.9929 49.9636 11.9906C49.953 11.9663 49.9439 11.9414 49.9364 11.9161L48.9187 8.56687C48.8085 8.21016 48.929 7.96078 49.05 7.81406C49.1313 7.71549 49.2368 7.63573 49.358 7.58118C49.4791 7.52664 49.6126 7.49883 49.7476 7.5H50.7181C51.2428 7.5 51.7522 7.71516 52.0518 8.0625L53.825 10.0336L58.8169 9.96609L55.5115 3.30984C55.4548 3.19568 55.4304 3.07036 55.4404 2.94533C55.4504 2.8203 55.4945 2.69956 55.5688 2.59414C55.643 2.48872 55.745 2.40198 55.8653 2.34186C55.9857 2.28175 56.1207 2.25016 56.2578 2.25H57.6381C57.8307 2.25354 58.0199 2.29667 58.1918 2.3762C58.3636 2.45572 58.5136 2.5696 58.6307 2.70937L65.045 9.83438L68.0082 9.76312C68.2252 9.75234 68.8263 9.74859 68.9653 9.74859C71.7998 9.75 73.4925 10.5909 73.4925 12C73.4925 12.4434 73.2986 13.2656 72.0014 13.7887C71.2356 14.0981 70.2138 14.2547 68.9643 14.2547C68.8268 14.2547 68.2272 14.2509 68.0072 14.2402L65.0444 14.168L58.6143 21.293C58.4971 21.4321 58.3472 21.5454 58.1757 21.6246C58.0042 21.7037 57.8154 21.7465 57.6233 21.75Z"
                                        fill="#1262AE" />
                                </g>
                                <circle cx="5.30176" cy="12.3315" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <circle cx="112.652" cy="11.9146" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <defs>
                                    <clipPath id="clip0_1810_14203">
                                        <rect width="26.2624" height="24" fill="white" transform="translate(48.0508)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="to">LAX</div>
                        </div>
                        <div class="date"><b>Depart on:</b> 7 sep 2025</div>
                    </div>
                    <div class="flightContainer">
                        <div class="toFrom">
                            <div class="from">NY</div>
                            <svg width="118" height="24" viewBox="0 0 118 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="5.04297" y1="11.8315" x2="108.595" y2="11.8316" stroke="#CCCCCC"
                                    stroke-dasharray="3 3" />
                                <g clip-path="url(#clip0_1810_14203)">
                                    <path
                                        d="M57.6233 21.75H56.2578C56.1206 21.75 55.9856 21.7185 55.8652 21.6585C55.7447 21.5984 55.6427 21.5118 55.5683 21.4064C55.494 21.301 55.4497 21.1803 55.4396 21.0552C55.4295 20.9302 55.4539 20.8048 55.5105 20.6906L58.8169 14.0227L53.8522 13.9219L52.0415 15.9267C51.6963 16.3233 51.4208 16.5 50.7181 16.5H49.7989C49.6534 16.5043 49.5089 16.4764 49.3776 16.4188C49.2464 16.3612 49.1322 16.2755 49.0449 16.1691C48.9228 16.0186 48.8028 15.7636 48.9198 15.3998L49.9364 12.0717C49.9441 12.0469 49.9533 12.022 49.9636 11.9977C49.9641 11.9953 49.9641 11.9929 49.9636 11.9906C49.953 11.9663 49.9439 11.9414 49.9364 11.9161L48.9187 8.56687C48.8085 8.21016 48.929 7.96078 49.05 7.81406C49.1313 7.71549 49.2368 7.63573 49.358 7.58118C49.4791 7.52664 49.6126 7.49883 49.7476 7.5H50.7181C51.2428 7.5 51.7522 7.71516 52.0518 8.0625L53.825 10.0336L58.8169 9.96609L55.5115 3.30984C55.4548 3.19568 55.4304 3.07036 55.4404 2.94533C55.4504 2.8203 55.4945 2.69956 55.5688 2.59414C55.643 2.48872 55.745 2.40198 55.8653 2.34186C55.9857 2.28175 56.1207 2.25016 56.2578 2.25H57.6381C57.8307 2.25354 58.0199 2.29667 58.1918 2.3762C58.3636 2.45572 58.5136 2.5696 58.6307 2.70937L65.045 9.83438L68.0082 9.76312C68.2252 9.75234 68.8263 9.74859 68.9653 9.74859C71.7998 9.75 73.4925 10.5909 73.4925 12C73.4925 12.4434 73.2986 13.2656 72.0014 13.7887C71.2356 14.0981 70.2138 14.2547 68.9643 14.2547C68.8268 14.2547 68.2272 14.2509 68.0072 14.2402L65.0444 14.168L58.6143 21.293C58.4971 21.4321 58.3472 21.5454 58.1757 21.6246C58.0042 21.7037 57.8154 21.7465 57.6233 21.75Z"
                                        fill="#1262AE" />
                                </g>
                                <circle cx="5.30176" cy="12.3315" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <circle cx="112.652" cy="11.9146" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <defs>
                                    <clipPath id="clip0_1810_14203">
                                        <rect width="26.2624" height="24" fill="white" transform="translate(48.0508)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="to">CAL</div>
                        </div>
                        <div class="date"><b>Depart on:</b> 7 sep 2025</div>
                    </div>
                    <div class="flightContainer">
                        <div class="toFrom">
                            <div class="from">MEX</div>
                            <svg width="118" height="24" viewBox="0 0 118 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <line x1="5.04297" y1="11.8315" x2="108.595" y2="11.8316" stroke="#CCCCCC"
                                    stroke-dasharray="3 3" />
                                <g clip-path="url(#clip0_1810_14203)">
                                    <path
                                        d="M57.6233 21.75H56.2578C56.1206 21.75 55.9856 21.7185 55.8652 21.6585C55.7447 21.5984 55.6427 21.5118 55.5683 21.4064C55.494 21.301 55.4497 21.1803 55.4396 21.0552C55.4295 20.9302 55.4539 20.8048 55.5105 20.6906L58.8169 14.0227L53.8522 13.9219L52.0415 15.9267C51.6963 16.3233 51.4208 16.5 50.7181 16.5H49.7989C49.6534 16.5043 49.5089 16.4764 49.3776 16.4188C49.2464 16.3612 49.1322 16.2755 49.0449 16.1691C48.9228 16.0186 48.8028 15.7636 48.9198 15.3998L49.9364 12.0717C49.9441 12.0469 49.9533 12.022 49.9636 11.9977C49.9641 11.9953 49.9641 11.9929 49.9636 11.9906C49.953 11.9663 49.9439 11.9414 49.9364 11.9161L48.9187 8.56687C48.8085 8.21016 48.929 7.96078 49.05 7.81406C49.1313 7.71549 49.2368 7.63573 49.358 7.58118C49.4791 7.52664 49.6126 7.49883 49.7476 7.5H50.7181C51.2428 7.5 51.7522 7.71516 52.0518 8.0625L53.825 10.0336L58.8169 9.96609L55.5115 3.30984C55.4548 3.19568 55.4304 3.07036 55.4404 2.94533C55.4504 2.8203 55.4945 2.69956 55.5688 2.59414C55.643 2.48872 55.745 2.40198 55.8653 2.34186C55.9857 2.28175 56.1207 2.25016 56.2578 2.25H57.6381C57.8307 2.25354 58.0199 2.29667 58.1918 2.3762C58.3636 2.45572 58.5136 2.5696 58.6307 2.70937L65.045 9.83438L68.0082 9.76312C68.2252 9.75234 68.8263 9.74859 68.9653 9.74859C71.7998 9.75 73.4925 10.5909 73.4925 12C73.4925 12.4434 73.2986 13.2656 72.0014 13.7887C71.2356 14.0981 70.2138 14.2547 68.9643 14.2547C68.8268 14.2547 68.2272 14.2509 68.0072 14.2402L65.0444 14.168L58.6143 21.293C58.4971 21.4321 58.3472 21.5454 58.1757 21.6246C58.0042 21.7037 57.8154 21.7465 57.6233 21.75Z"
                                        fill="#1262AE" />
                                </g>
                                <circle cx="5.30176" cy="12.3315" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <circle cx="112.652" cy="11.9146" r="4" fill="white" stroke="#1262AE"
                                    stroke-width="2" />
                                <defs>
                                    <clipPath id="clip0_1810_14203">
                                        <rect width="26.2624" height="24" fill="white" transform="translate(48.0508)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="to">NY</div>
                        </div>
                        <div class="date"><b>Depart on:</b> 7 sep 2025</div>
                    </div>
                </div>
                <div class="arrowRight">
                    <svg data-action="right" class="right" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M19.2111 17.6815L5.57382 29.6256C3.95762 31.0411 1.42666 29.8934 1.42666 27.7449L1.42666 3.85672C1.42666 1.70826 3.95762 0.560519 5.57382 1.97606L19.2111 13.9202C20.3482 14.9161 20.3482 16.6855 19.2111 17.6815Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="right" class="rightHovered" width="20" height="31" viewBox="0 0 20 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M18.6137 13.3028C19.9783 14.4979 19.9783 16.6213 18.6137 17.8164L4.97649 29.7605C3.03705 31.4591 -0.000101635 30.0818 -0.000101297 27.5037L-9.81646e-05 3.6155C-9.78266e-05 1.03734 3.03705 -0.339935 4.97649 1.35872L18.6137 13.3028Z"
                            fill="#1262AF" />
                    </svg>
                </div>
                <div class="emptyWishlist">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M200-120v-640q0-33 23.5-56.5T280-840h240v80H280v518l200-86 200 86v-278h80v400L480-240 200-120Zm80-640h240-240Zm400 160v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z"/></svg>
                    <h3>your wishlist is empty.</h3>
                </div>
            </div>
            <div class="prepareMenu">
                <div class="title">PREPARE FOR YOUR MOVIE</div>
                <div class="menuItems">
                    <button>
                        <div class="icon pink">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.7607 1.0427C21.1018 0.390368 20.2084 0.0239258 19.2769 0.0239258C18.3454 0.0239258 17.452 0.390368 16.7931 1.0427L1.36558 16.3277C1.0393 16.651 0.780477 17.0347 0.603895 17.457C0.427312 17.8794 0.336426 18.332 0.336426 18.7891C0.336426 19.2462 0.427312 19.6989 0.603895 20.1212C0.780477 20.5435 1.0393 20.9273 1.36558 21.2505L3.19583 23.0621C3.99227 23.8527 5.11197 23.7119 5.78816 23.3128C6.16116 23.0933 6.59732 23.0033 7.02775 23.0568C7.45818 23.1102 7.85836 23.3042 8.1651 23.6081C8.47185 23.912 8.66768 24.3085 8.72167 24.7349C8.77566 25.1613 8.68474 25.5934 8.46326 25.9629C8.06191 26.6328 7.91824 27.742 8.71624 28.531L10.5481 30.3442C10.8743 30.6674 11.2617 30.9238 11.688 31.0988C12.1143 31.2737 12.5712 31.3637 13.0326 31.3637C13.4941 31.3637 13.951 31.2737 14.3773 31.0988C14.8036 30.9238 15.1909 30.6674 15.5172 30.3442L30.9431 15.0622C31.2694 14.739 31.5282 14.3553 31.7048 13.9329C31.8814 13.5106 31.9723 13.058 31.9723 12.6009C31.9723 12.1437 31.8814 11.6911 31.7048 11.2688C31.5282 10.8464 31.2694 10.4627 30.9431 10.1395L29.1144 8.3263C28.318 7.53729 27.1968 7.67653 26.5206 8.07567C26.1476 8.29509 25.7114 8.38516 25.281 8.33167C24.8505 8.27819 24.4504 8.08418 24.1436 7.7803C23.8369 7.47642 23.641 7.07997 23.587 6.65356C23.5331 6.22715 23.624 5.79507 23.8455 5.42555C24.2484 4.75566 24.3905 3.64642 23.5925 2.85741L21.7622 1.0427H21.7607Z"
                                    fill="white" fill-opacity="0.921569" />
                            </svg>
                        </div>
                        <span>Tourism</span>
                    </button>
                    <button>
                        <div class="icon orange">
                            <svg width="33" height="28" viewBox="0 0 33 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.5492 9.15607H17.8394V8.02169C17.8394 7.72083 17.9601 7.4323 18.1748 7.21957C18.3896 7.00683 18.6808 6.88731 18.9845 6.88731H22.4199C22.7236 6.88731 23.0148 7.00683 23.2296 7.21957C23.4443 7.4323 23.565 7.72083 23.565 8.02169V9.15607H28.1454V4.61856C28.1454 3.41514 27.6629 2.26101 26.8039 1.41006C25.9449 0.559112 24.7798 0.0810547 23.565 0.0810547H9.82362C8.60881 0.0810547 7.44375 0.559112 6.58475 1.41006C5.72575 2.26101 5.24316 3.41514 5.24316 4.61856V9.15607H9.82362V8.02169C9.82362 7.72083 9.94427 7.4323 10.159 7.21957C10.3738 7.00683 10.665 6.88731 10.9687 6.88731H14.4041C14.7078 6.88731 14.999 7.00683 15.2138 7.21957C15.4285 7.4323 15.5492 7.72083 15.5492 8.02169V9.15607Z"
                                    fill="white" />
                                <path
                                    d="M6.38841 11.4248C4.86996 11.4248 3.4137 12.0224 2.34 13.0861C1.26629 14.1497 0.663086 15.5924 0.663086 17.0967V26.1717C0.663086 26.4726 0.783726 26.7611 0.998468 26.9738C1.21321 27.1866 1.50446 27.3061 1.80815 27.3061C2.11184 27.3061 2.40309 27.1866 2.61783 26.9738C2.83258 26.7611 2.95322 26.4726 2.95322 26.1717V20.4998H30.4348V26.1717C30.4348 26.4726 30.5554 26.7611 30.7702 26.9738C30.9849 27.1866 31.2762 27.3061 31.5798 27.3061C31.8835 27.3061 32.1748 27.1866 32.3895 26.9738C32.6043 26.7611 32.7249 26.4726 32.7249 26.1717V17.0967C32.7249 15.5924 32.1217 14.1497 31.048 13.0861C29.9743 12.0224 28.518 11.4248 26.9996 11.4248H6.38841Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <span>Hotel</span>
                    </button>
                    <button>
                        <div class="icon parrot">
                            <svg width="37" height="33" viewBox="0 0 37 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M27.0841 29.4382C27.0293 28.2648 26.9566 27.0976 26.8984 25.933C26.7102 22.2898 26.7256 18.5932 26.5288 14.932C26.3319 11.2982 26.4487 7.66199 26.3448 4.02835C26.3239 3.27315 26.3576 1.78172 25.5762 1.3512C23.8952 0.426365 22.8973 2.94897 22.4696 3.97597C21.6987 5.84012 21.2533 7.80073 20.7027 9.732C20.2334 11.3851 19.6989 13.0328 19.5178 14.7444C19.3836 16.0287 19.3959 17.4664 20.0669 18.6236C20.4038 19.2052 20.9863 19.601 21.6496 19.7683C22.3381 19.9445 23.1252 19.7139 23.7784 20.0248C23.9468 20.1061 24.0952 20.2752 24.1628 20.4459C24.3745 20.9962 24.1742 21.831 24.108 22.3987C23.8983 24.2274 23.6766 26.0743 23.5773 27.9118C23.5186 29.023 23.4537 30.4462 24.1259 31.4144C24.538 32.0023 25.373 32.5513 26.1265 32.2591C27.2526 31.8281 27.1309 30.372 27.0841 29.4382V29.4382Z"
                                    fill="white" />
                                <path
                                    d="M12.7576 2.16238C12.4339 2.29212 12.5567 3.4492 12.5422 3.80471C12.521 4.44342 12.5646 5.28857 12.4877 6.11634C12.4872 6.12374 12.4861 6.12887 12.485 6.134C12.4784 6.19153 12.473 6.25357 12.4635 6.3191C12.4534 6.38236 12.4427 6.44336 12.4349 6.50601C12.366 6.90959 12.2346 7.38752 11.9864 7.61665C11.7045 7.87873 11.073 7.82361 10.8537 7.51395C10.4948 7.00988 10.5217 5.88448 10.4999 5.85129C10.4853 5.31889 10.4078 3.7086 10.2914 2.64692C10.2818 2.56693 10.2663 2.0857 9.82694 2.03428C9.62205 2.01203 9.40646 2.18663 9.33658 2.50552C9.13023 3.44681 8.93699 5.24113 8.92482 5.52328C8.92235 5.5506 8.92113 5.58246 8.92101 5.60917C8.92101 5.60917 8.91992 5.61431 8.92055 5.61657C8.91921 5.67514 8.84944 7.08091 8.49369 7.56589C8.30777 7.82016 7.82505 8.02013 7.34535 7.75108C7.15429 7.64276 7.02335 7.43399 6.93105 7.21038C6.42941 5.64904 6.87972 3.92899 6.9438 3.10939C6.96277 2.87886 7.17152 2.1092 6.70581 2.13495C6.00457 2.17304 5.09901 5.16072 4.9371 5.84549C4.54013 7.54932 4.47995 9.3699 5.17044 11.0134C5.55406 11.9236 6.30431 12.6686 7.23469 13.0298C7.64585 13.188 8.10282 13.3028 8.58665 13.3694C8.41258 17.2428 8.21492 21.2848 8.03492 23.5342C7.89648 25.227 7.73303 26.9385 7.75501 28.6383C7.76801 29.6539 7.75731 30.8649 8.42396 31.7164C9.12134 32.6061 10.5923 32.1968 10.9894 31.1456C11.4349 29.9605 11.3053 28.5796 11.1536 26.4037C11.0013 24.2256 10.8299 21.2543 10.7354 19.6557C10.5971 17.3017 10.5488 15.2447 10.5356 13.3679C11.7742 13.1909 12.9295 12.6594 13.576 11.682C13.8597 11.2545 14.0464 10.7768 14.174 10.2853C14.3696 9.54083 14.465 8.72527 14.4227 7.95741C14.3798 7.25039 13.7987 1.7453 12.7576 2.16238V2.16238Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <span>Food</span>
                    </button>
                    <button>
                        <div class="icon yellow">
                            <svg width="27" height="24" viewBox="0 0 27 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.7497 0.0537109H2.86238C1.42246 0.0537109 0.251465 1.21378 0.251465 2.64027V20.7462C0.251465 22.1727 1.42246 23.3327 2.86238 23.3327H23.7497C25.1896 23.3327 26.3606 22.1727 26.3606 20.7462V2.64027C26.3606 1.21378 25.1896 0.0537109 23.7497 0.0537109ZM23.751 7.81339C23.7497 7.81339 23.7497 7.81339 23.751 7.81339H23.1439L19.6623 2.64027H23.7497L23.751 7.81339ZM17.8751 15.5731L10.6951 19.4529V11.6932L17.8751 15.5731ZM16.6167 7.81339L13.135 2.64027H16.524L20.0056 7.81339H16.6167V7.81339ZM13.4784 7.81339H10.0894L6.60773 2.64027H9.9967L13.4784 7.81339ZM2.86238 2.64027H3.46942L6.95107 7.81339H2.86238V2.64027Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <span>Movies</span>
                    </button>
                    <button>
                        <div class="icon blue">
                            <svg width="30" height="27" viewBox="0 0 30 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M25.7504 4.76458C25.4352 3.90417 24.5527 3.29167 23.5125 3.29167H19.5727V1.83333C19.5727 1.03125 18.8636 0.375 17.9968 0.375H11.6931C10.8263 0.375 10.1172 1.03125 10.1172 1.83333V3.29167H6.17736C5.13725 3.29167 4.27049 3.90417 3.93955 4.76458L0.834973 13.0333C0.724658 13.3396 0.661621 13.6604 0.661621 13.9958V24.4375C0.661621 25.6479 1.71749 26.625 3.02551 26.625C4.33353 26.625 5.3894 25.6479 5.3894 24.4375V23.7083H24.3005V24.4375C24.3005 25.6333 25.3564 26.625 26.6644 26.625C27.9567 26.625 29.0283 25.6479 29.0283 24.4375V13.9958C29.0283 13.675 28.9652 13.3396 28.8549 13.0333L25.7504 4.76458ZM6.17736 19.3333C4.86934 19.3333 3.81347 18.3563 3.81347 17.1458C3.81347 15.9354 4.86934 14.9583 6.17736 14.9583C7.48538 14.9583 8.54125 15.9354 8.54125 17.1458C8.54125 18.3563 7.48538 19.3333 6.17736 19.3333ZM23.5125 19.3333C22.2045 19.3333 21.1487 18.3563 21.1487 17.1458C21.1487 15.9354 22.2045 14.9583 23.5125 14.9583C24.8206 14.9583 25.8764 15.9354 25.8764 17.1458C25.8764 18.3563 24.8206 19.3333 23.5125 19.3333ZM3.81347 12.0417L6.17736 5.47917H23.5125L25.8764 12.0417H3.81347Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <span>Taxi</span>
                    </button>
                    <button>
                        <div class="icon green">
                            <svg width="28" height="32" viewBox="0 0 28 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.618164 23.6668C0.618164 25.1335 1.27429 26.4502 2.30053 27.3668V29.5002C2.30053 30.8835 3.42771 32.0002 4.82408 32.0002C6.22044 32.0002 7.34763 30.8835 7.34763 29.5002V28.6668H20.8065V29.5002C20.8065 30.8668 21.9337 32.0002 23.3301 32.0002C24.7096 32.0002 25.8536 30.8835 25.8536 29.5002V27.3668C26.8799 26.4502 27.536 25.1335 27.536 23.6668V7.00016C27.536 1.16683 21.5131 0.333496 14.0771 0.333496C6.64103 0.333496 0.618164 1.16683 0.618164 7.00016V23.6668ZM6.50644 25.3335C5.11008 25.3335 3.98289 24.2168 3.98289 22.8335C3.98289 21.4502 5.11008 20.3335 6.50644 20.3335C7.90281 20.3335 9.02999 21.4502 9.02999 22.8335C9.02999 24.2168 7.90281 25.3335 6.50644 25.3335ZM21.6477 25.3335C20.2514 25.3335 19.1242 24.2168 19.1242 22.8335C19.1242 21.4502 20.2514 20.3335 21.6477 20.3335C23.0441 20.3335 24.1713 21.4502 24.1713 22.8335C24.1713 24.2168 23.0441 25.3335 21.6477 25.3335ZM24.1713 15.3335H3.98289V7.00016H24.1713V15.3335Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <span>Metro</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="popDes">
            <DIV class="title">
                <SPAN>Most Popular Movies</SPAN>
                <div class="more"><a href="/movieResults?rating=Above 8"><span>View All</span>
                        <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.94678 8.38721H17.9468" stroke="#1262AE" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.9468 1.38721L17.9468 8.38721L10.9468 15.3872" stroke="#1262AE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
            </DIV>
            <div class="cardsContainer">
                <div class="arrowLeft">
                    <!-- <svg data-action="left" class="left" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left" fill-rule="evenodd" clip-rule="evenodd" d="M3 36.5C3 18.4127 17.6627 3.74999 35.75 3.74999C53.8373 3.74999 68.5 18.4127 68.5 36.5C68.5 54.5873 53.8373 69.25 35.75 69.25C17.6627 69.25 2.99999 54.5873 3 36.5ZM-4.50403e-06 36.5C-2.77794e-06 16.7558 16.0058 0.749988 35.75 0.749989C55.4942 0.749991 71.5 16.7558 71.5 36.5C71.5 56.2442 55.4942 72.25 35.75 72.25C16.0058 72.25 -6.23012e-06 56.2442 -4.50403e-06 36.5Z" fill="#1262AF"/>
                        <path data-action="left" d="M23.9595 39.706C22.595 38.5108 22.595 36.3875 23.9595 35.1924L37.5967 23.2483C39.5362 21.5497 42.5733 22.9269 42.5733 25.5051L42.5733 49.3933C42.5733 51.9714 39.5362 53.3487 37.5967 51.6501L23.9595 39.706Z" fill="#1262AF"/>
                    </svg> -->
                    <!-- <svg data-action="left" class="leftHovered" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle data-action="left" cx="36.25" cy="36.5" r="35.75" fill="#1262AF"/>
                        <path data-action="left" d="M24.5767 37.8163C23.2122 36.6212 23.2122 34.4979 24.5767 33.3028L38.2139 21.3587C40.1534 19.66 43.1905 21.0373 43.1905 23.6154L43.1905 47.5036C43.1905 50.0818 40.1534 51.4591 38.2139 49.7604L24.5767 37.8163Z" fill="white"/>
                    </svg> -->
                    <svg data-action="left" class="left" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.90613 13.6789L15.5434 1.7348C17.1596 0.319253 19.6905 1.46699 19.6905 3.61545L19.6905 27.5036C19.6905 29.6521 17.1596 30.7998 15.5434 29.3843L1.90613 17.4402C0.769011 16.4443 0.769011 14.6748 1.90613 13.6789Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="left" class="leftHovered" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.95951 17.956C0.59497 16.7608 0.594969 14.6375 1.95951 13.4424L15.5967 1.49831C17.5362 -0.200342 20.5733 1.17694 20.5733 3.75509L20.5733 27.6433C20.5733 30.2214 17.5362 31.5987 15.5967 29.9001L1.95951 17.956Z"
                            fill="#1262AF" />
                    </svg>
                </div>
                <div class="container">
                    <div class="loader">
                        <div class="wrapper">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                    </div>
                    <div class="loader">
                        <div class="wrapper">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                    </div>
                    <div class="loader">
                        <div class="wrapper">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                    </div>
                </div>
                <div class="arrowRight">
                    <!-- <svg data-action="right" class="right" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right" fill-rule="evenodd" clip-rule="evenodd" d="M3 36.5C3 18.4127 17.6627 3.74999 35.75 3.74999C53.8373 3.74999 68.5 18.4127 68.5 36.5C68.5 54.5873 53.8373 69.25 35.75 69.25C17.6627 69.25 2.99999 54.5873 3 36.5ZM-4.50403e-06 36.5C-2.77794e-06 16.7558 16.0058 0.749988 35.75 0.749989C55.4942 0.749991 71.5 16.7558 71.5 36.5C71.5 56.2442 55.4942 72.25 35.75 72.25C16.0058 72.25 -6.23012e-06 56.2442 -4.50403e-06 36.5Z" fill="#1262AF"/>
                        <path data-action="right" d="M46.6137 33.3028C47.9783 34.4979 47.9783 36.6213 46.6137 37.8164L32.9765 49.7605C31.037 51.4591 27.9999 50.0818 27.9999 47.5037L27.9999 23.6155C27.9999 21.0373 31.037 19.6601 32.9765 21.3587L46.6137 33.3028Z" fill="#1262AF"/>
                    </svg>
                    <svg data-action="right" class="rightHovered" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle data-action="right" cx="35.75" cy="35.75" r="35.75" fill="#1262AF"/>
                        <path data-action="right" d="M47.5405 32.544C48.905 33.7392 48.905 35.8625 47.5405 37.0576L33.9033 49.0017C31.9638 50.7003 28.9267 49.3231 28.9267 46.7449L28.9267 22.8567C28.9267 20.2786 31.9638 18.9013 33.9033 20.5999L47.5405 32.544Z" fill="white"/>
                    </svg> -->
                    <svg data-action="right" class="right" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M19.2111 17.6815L5.57382 29.6256C3.95762 31.0411 1.42666 29.8934 1.42666 27.7449L1.42666 3.85672C1.42666 1.70826 3.95762 0.560519 5.57382 1.97606L19.2111 13.9202C20.3482 14.9161 20.3482 16.6855 19.2111 17.6815Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="right" class="rightHovered" width="20" height="31" viewBox="0 0 20 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M18.6137 13.3028C19.9783 14.4979 19.9783 16.6213 18.6137 17.8164L4.97649 29.7605C3.03705 31.4591 -0.000101635 30.0818 -0.000101297 27.5037L-9.81646e-05 3.6155C-9.78266e-05 1.03734 3.03705 -0.339935 4.97649 1.35872L18.6137 13.3028Z"
                            fill="#1262AF" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="recommended">
            <DIV class="title">
                <SPAN>Top Recommended</SPAN>
                <div class="more"><a href="/movieResults?rating=Above 9"><span>View All</span>
                        <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.94678 8.38721H17.9468" stroke="#1262AE" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.9468 1.38721L17.9468 8.38721L10.9468 15.3872" stroke="#1262AE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
            </DIV>
            <div class="cardsContainer">
                <div class="arrowLeft">
                    <!-- <svg data-action="left" class="left" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left" fill-rule="evenodd" clip-rule="evenodd" d="M3 36.5C3 18.4127 17.6627 3.74999 35.75 3.74999C53.8373 3.74999 68.5 18.4127 68.5 36.5C68.5 54.5873 53.8373 69.25 35.75 69.25C17.6627 69.25 2.99999 54.5873 3 36.5ZM-4.50403e-06 36.5C-2.77794e-06 16.7558 16.0058 0.749988 35.75 0.749989C55.4942 0.749991 71.5 16.7558 71.5 36.5C71.5 56.2442 55.4942 72.25 35.75 72.25C16.0058 72.25 -6.23012e-06 56.2442 -4.50403e-06 36.5Z" fill="#1262AF"/>
                        <path data-action="left" d="M23.9595 39.706C22.595 38.5108 22.595 36.3875 23.9595 35.1924L37.5967 23.2483C39.5362 21.5497 42.5733 22.9269 42.5733 25.5051L42.5733 49.3933C42.5733 51.9714 39.5362 53.3487 37.5967 51.6501L23.9595 39.706Z" fill="#1262AF"/>
                    </svg> -->
                    <!-- <svg data-action="left" class="leftHovered" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle data-action="left" cx="36.25" cy="36.5" r="35.75" fill="#1262AF"/>
                        <path data-action="left" d="M24.5767 37.8163C23.2122 36.6212 23.2122 34.4979 24.5767 33.3028L38.2139 21.3587C40.1534 19.66 43.1905 21.0373 43.1905 23.6154L43.1905 47.5036C43.1905 50.0818 40.1534 51.4591 38.2139 49.7604L24.5767 37.8163Z" fill="white"/>
                    </svg> -->
                    <svg data-action="left" class="left" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.90613 13.6789L15.5434 1.7348C17.1596 0.319253 19.6905 1.46699 19.6905 3.61545L19.6905 27.5036C19.6905 29.6521 17.1596 30.7998 15.5434 29.3843L1.90613 17.4402C0.769011 16.4443 0.769011 14.6748 1.90613 13.6789Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="left" class="leftHovered" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="left"
                            d="M1.95951 17.956C0.59497 16.7608 0.594969 14.6375 1.95951 13.4424L15.5967 1.49831C17.5362 -0.200342 20.5733 1.17694 20.5733 3.75509L20.5733 27.6433C20.5733 30.2214 17.5362 31.5987 15.5967 29.9001L1.95951 17.956Z"
                            fill="#1262AF" />
                    </svg>
                </div>
                <div class="container">
                    <div class="loader">
                        <div class="wrapper">
                            <div class="img"></div>
                            <div class="details">
                                <div class="info">
                                    <div class="line1"></div>
                                    <div class="line2"></div>
                                </div>
                                <div class="span"></div>
                            </div>
                        </div>
                    </div>
                    <div class="loader">
                        <div class="wrapper">
                            <div class="img"></div>
                            <div class="details">
                                <div class="info">
                                    <div class="line1"></div>
                                    <div class="line2"></div>
                                </div>
                                <div class="span"></div>
                            </div>
                        </div>
                    </div>
                    <div class="loader">
                        <div class="wrapper">
                            <div class="img"></div>
                            <div class="details">
                                <div class="info">
                                    <div class="line1"></div>
                                    <div class="line2"></div>
                                </div>
                                <div class="span"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrowRight">
                    <!-- <svg data-action="right" class="right" width="72" height="73" viewBox="0 0 72 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right" fill-rule="evenodd" clip-rule="evenodd" d="M3 36.5C3 18.4127 17.6627 3.74999 35.75 3.74999C53.8373 3.74999 68.5 18.4127 68.5 36.5C68.5 54.5873 53.8373 69.25 35.75 69.25C17.6627 69.25 2.99999 54.5873 3 36.5ZM-4.50403e-06 36.5C-2.77794e-06 16.7558 16.0058 0.749988 35.75 0.749989C55.4942 0.749991 71.5 16.7558 71.5 36.5C71.5 56.2442 55.4942 72.25 35.75 72.25C16.0058 72.25 -6.23012e-06 56.2442 -4.50403e-06 36.5Z" fill="#1262AF"/>
                        <path data-action="right" d="M46.6137 33.3028C47.9783 34.4979 47.9783 36.6213 46.6137 37.8164L32.9765 49.7605C31.037 51.4591 27.9999 50.0818 27.9999 47.5037L27.9999 23.6155C27.9999 21.0373 31.037 19.6601 32.9765 21.3587L46.6137 33.3028Z" fill="#1262AF"/>
                    </svg>
                    <svg data-action="right" class="rightHovered" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle data-action="right" cx="35.75" cy="35.75" r="35.75" fill="#1262AF"/>
                        <path data-action="right" d="M47.5405 32.544C48.905 33.7392 48.905 35.8625 47.5405 37.0576L33.9033 49.0017C31.9638 50.7003 28.9267 49.3231 28.9267 46.7449L28.9267 22.8567C28.9267 20.2786 31.9638 18.9013 33.9033 20.5999L47.5405 32.544Z" fill="white"/>
                    </svg> -->
                    <svg data-action="right" class="right" width="21" height="31" viewBox="0 0 21 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M19.2111 17.6815L5.57382 29.6256C3.95762 31.0411 1.42666 29.8934 1.42666 27.7449L1.42666 3.85672C1.42666 1.70826 3.95762 0.560519 5.57382 1.97606L19.2111 13.9202C20.3482 14.9161 20.3482 16.6855 19.2111 17.6815Z"
                            fill="white" stroke="#1262AF" />
                    </svg>
                    <svg data-action="right" class="rightHovered" width="20" height="31" viewBox="0 0 20 31" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path data-action="right"
                            d="M18.6137 13.3028C19.9783 14.4979 19.9783 16.6213 18.6137 17.8164L4.97649 29.7605C3.03705 31.4591 -0.000101635 30.0818 -0.000101297 27.5037L-9.81646e-05 3.6155C-9.78266e-05 1.03734 3.03705 -0.339935 4.97649 1.35872L18.6137 13.3028Z"
                            fill="#1262AF" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribeSection">
        <div class="formHeader">
            <span>SUBSCRIBE FOR MORE OFFERS</span>
            <SPAN>Get Weekly Updates</SPAN>
        </div>
        <form class="sub">
            <span>Fill in your details to join the party!</span>
            <div id="sub">
                <input id="subname" type="text" for="name" placeholder="">
                <label for="name">Your name</label>
            </div>
            <div id="sub">
                <input id="subemail" type="text" for="email" placeholder="">
                <label for="email">Email address</label>
            </div>
            <button id="sub">SUBMIT</button>
        </form>
    </div>
    <footer>
        <div class="bio">
            <div class="logo">Crayon_21</div>
            <span>Crayon_21 is a dummy website for testing and learning purpose you can book hotels,flights and other
                tours.</span>
            <div class="socialMedia">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.5001 15.3871C19.5001 16.5805 19.026 17.7251 18.1821 18.569C17.3382 19.413 16.1936 19.8871 15.0001 19.8871C13.8066 19.8871 12.662 19.413 11.8181 18.569C10.9742 17.7251 10.5001 16.5805 10.5001 15.3871C10.5001 15.1306 10.5271 14.8801 10.5736 14.6371H9.0001V20.6326C9.0001 21.0496 9.3376 21.3871 9.7546 21.3871H20.2471C20.4469 21.3867 20.6385 21.307 20.7796 21.1655C20.9208 21.0241 21.0001 20.8324 21.0001 20.6326V14.6371H19.4266C19.4731 14.8801 19.5001 15.1306 19.5001 15.3871ZM15.0001 18.3871C15.3942 18.387 15.7844 18.3092 16.1484 18.1584C16.5124 18.0075 16.8432 17.7863 17.1217 17.5076C17.4003 17.2289 17.6213 16.8981 17.772 16.534C17.9227 16.1698 18.0002 15.7796 18.0001 15.3856C18 14.9915 17.9223 14.6013 17.7714 14.2373C17.6205 13.8733 17.3994 13.5425 17.1207 13.2639C16.842 12.9854 16.5111 12.7644 16.147 12.6137C15.7829 12.463 15.3927 12.3855 14.9986 12.3856C14.2028 12.3858 13.4396 12.7021 12.877 13.265C12.3144 13.8279 11.9984 14.5912 11.9986 15.3871C11.9988 16.1829 12.3151 16.9461 12.878 17.5087C13.4409 18.0713 14.2043 18.3873 15.0001 18.3871ZM18.6001 12.2371H20.3986C20.5181 12.2371 20.6327 12.1897 20.7173 12.1053C20.802 12.021 20.8497 11.9065 20.8501 11.7871V9.98856C20.8501 9.86882 20.8025 9.75397 20.7179 9.6693C20.6332 9.58463 20.5183 9.53706 20.3986 9.53706H18.6001C18.4804 9.53706 18.3655 9.58463 18.2808 9.6693C18.1962 9.75397 18.1486 9.86882 18.1486 9.98856V11.7871C18.1501 12.0346 18.3526 12.2371 18.6001 12.2371ZM15.0001 0.987061C11.181 0.987061 7.51828 2.5042 4.81776 5.20472C2.11724 7.90525 0.600098 11.5679 0.600098 15.3871C0.600098 19.2062 2.11724 22.8689 4.81776 25.5694C7.51828 28.2699 11.181 29.7871 15.0001 29.7871C16.8911 29.7871 18.7637 29.4146 20.5107 28.6909C22.2578 27.9673 23.8453 26.9066 25.1824 25.5694C26.5196 24.2322 27.5803 22.6448 28.304 20.8977C29.0276 19.1506 29.4001 17.2781 29.4001 15.3871C29.4001 13.496 29.0276 11.6235 28.304 9.87642C27.5803 8.12933 26.5196 6.54189 25.1824 5.20472C23.8453 3.86756 22.2578 2.80686 20.5107 2.0832C18.7637 1.35953 16.8911 0.987061 15.0001 0.987061ZM22.5001 21.2206C22.5001 22.1371 21.7501 22.8871 20.8336 22.8871H9.1666C8.2501 22.8871 7.5001 22.1371 7.5001 21.2206V9.55356C7.5001 8.63706 8.2501 7.88706 9.1666 7.88706H20.8336C21.7501 7.88706 22.5001 8.63706 22.5001 9.55356V21.2206Z"
                        fill="white" />
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.0001 0.987061C7.0471 0.987061 0.600098 7.43406 0.600098 15.3871C0.600098 23.3401 7.0471 29.7871 15.0001 29.7871C22.9531 29.7871 29.4001 23.3401 29.4001 15.3871C29.4001 7.43406 22.9531 0.987061 15.0001 0.987061ZM20.8576 12.7831C20.8636 12.9061 20.8651 13.0291 20.8651 13.1491C20.8651 16.8991 18.0136 21.2206 12.7966 21.2206C11.255 21.2231 9.74555 20.7804 8.4496 19.9456C8.6701 19.9726 8.8966 19.9831 9.1261 19.9831C10.4551 19.9831 11.6776 19.5316 12.6481 18.7696C12.0567 18.7579 11.4836 18.5621 11.0088 18.2093C10.5339 17.8566 10.181 17.3644 9.9991 16.8016C10.4238 16.8823 10.8614 16.8654 11.2786 16.7521C10.6367 16.6223 10.0594 16.2744 9.64466 15.7676C9.22993 15.2607 9.00326 14.626 9.0031 13.9711V13.9366C9.3856 14.1481 9.8236 14.2771 10.2886 14.2921C9.6868 13.8915 9.26078 13.2761 9.09767 12.5718C8.93456 11.8675 9.04668 11.1274 9.4111 10.5031C10.1235 11.3791 11.012 12.0957 12.019 12.6065C13.0259 13.1174 14.1289 13.4111 15.2566 13.4686C15.1132 12.86 15.1749 12.2212 15.4321 11.6513C15.6893 11.0815 16.1275 10.6125 16.6787 10.3175C17.2299 10.0224 17.8631 9.91765 18.4799 10.0196C19.0968 10.1215 19.6627 10.4243 20.0896 10.8811C20.7244 10.7555 21.3331 10.5226 21.8896 10.1926C21.678 10.8498 21.2351 11.4078 20.6431 11.7631C21.2054 11.6953 21.7544 11.5442 22.2721 11.3146C21.8918 11.8844 21.4128 12.3817 20.8576 12.7831Z"
                        fill="white" />
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.0001 0.987061C7.0471 0.987061 0.600098 7.43406 0.600098 15.3871C0.600098 23.3401 7.0471 29.7871 15.0001 29.7871C22.9531 29.7871 29.4001 23.3401 29.4001 15.3871C29.4001 7.43406 22.9531 0.987061 15.0001 0.987061ZM18.4111 10.9381H16.2466C15.9901 10.9381 15.7051 11.2756 15.7051 11.7241V13.2871H18.4126L18.0031 15.5161H15.7051V22.2076H13.1506V15.5161H10.8331V13.2871H13.1506V11.9761C13.1506 10.0951 14.4556 8.56656 16.2466 8.56656H18.4111V10.9381Z"
                        fill="white" />
                </svg>
            </div>
        </div>
        <hr>
        <div class="footerMenu">
            <span class="heading">Company</span>
            <span class="heading">Support</span>
            <span class="heading">More</span>
            <span>About Us</span>
            <span>Account</span>
            <span>Covid Advisory</span>
            <span>News</span>
            <span>Support Centres</span>
            <span>Airline Fees</span>
            <span>Career</span>
            <span>FAQ</span>
            <span>Tips</span>
            <span>How We work</span>
            <span>Accessibilty</span>
            <span>Quarantine Rules</span>
        </div>
    </footer>
    <script src="/scripts/headerAuth.js"></script>
    <script src="/scripts/prepareCards.js"></script>
    <script src="/scripts/movieHome.js"></script>
</body>

</html>

<!-- fully completed -->